html {
  background-image: url(https://cdn.wallpapersafari.com/3/20/jSotOB.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto Mono;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

header {
  color: white;
}

.holberton {
  color: white;
}

.links {
  color: white;
}

.nguitars {
  color: white;
  font-family: Roboto Mono;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 17ch;

  animation: typing 3s steps(18), blink 0.4s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.nguitars2 {
  color: white;
  font-family: Roboto Mono;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;

  animation: typing 3s steps(18), blink 0.4s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.nguitars3 {
  color: white;
  font-family: Roboto Mono;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;

  animation: typing 3s steps(18), blink 0.4s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.zoom {
  overflow: hidden;
  transition: 0.5s;
  object-fit: cover;
  width: 1000px;
}

.zoom:hover {
  transform: scale(1.1);
}

.audio {
  border: 5px solid;
  border-radius: 70px;
  padding: 0.5px;
  margin: 0.5px;
  overflow: hidden;
  transition: 0.5s;
  object-fit: cover;
  width: 300px;
}

.audio:hover {
  transform: scale(1.1);
}

.reproducir {
  color: #f5f5f5;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

u {
  color: white;
}
